html {
    box-sizing: border-box;
     
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  
  body {
    min-height: 100vh;
    margin: 0; /* Important! */
    font-family: sans-serif;
    background:
      linear-gradient(45deg, rgb(66, 226, 101) 0%, hsla(24, 88%, 53%, 0) 70%),
      linear-gradient(135deg, rgb(216, 50, 50) 10%, hsla(225, 95%, 50%, 0) 80%),
      linear-gradient(225deg, rgb(238, 106, 54) 10%, hsla(249, 84%, 58%, 0) 80%),
      linear-gradient(315deg, rgb(209, 241, 67) 100%, hsla(350, 93%, 52%, 0) 70%),
      linear-gradient(315deg, rgb(24, 1, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .site-wrap {
    max-width: 700px;
    margin: 70px auto;
    background: rgb(1, 8, 24);
    padding: 40px;
    text-align: justify;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transform: scale(0.98);
    transition: transform 0.5s;
  }
  
  body.fixed-nav .site-wrap {
    transform: scale(1);
  }
  
  header {
    text-align: center;
    height: 50vh;
    background: url(http://wes.io/iEgP/wow-so-deep.jpg) bottom center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1 
  {
    color: rgb(90, 1, 1);
    font-size: 5vw;
    text-shadow: 2px 2px 0 rgba(15, 0, 0, 0.2);
  }
  
  nav {
    background: rgb(37, 1, 1);
    top: 0;
    width: 100%;
    transition:all 0.5s;
    position: relative;
    z-index: 1;
  }
  
  body.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px 0 rgba(0,0,0,0.1);
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li.logo {
    max-width: 0;
    overflow: hidden;
    background: white;
    transition: all 0.5s;
    font-weight: 600;
    font-size: 30px;
  }
  
  li.logo a {
    color: black;
  }
  
  .fixed-nav li.logo {
    max-width: 500px;
  }
  
  nav a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
  }
  